.lifes {
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 1rem;

    & svg {
        min-width: 2rem;
    }

    &__life {
        &.lost {
            svg {
                fill: darkslategrey;
            }
        }
    }

    &--mobile {
        margin-bottom: none;
        margin-top: 1rem;
        &.lifes__pong {
            top: 25%;
            left: 85%;
        }
    }

    &.lifes__breakout,
    &.lifes__invaders {
        flex-direction: column;
        top: 5%;
        transform: translate(50%, 0%);
    }
}
